fastapi
uvicorn
requests
pydantic
python-wordpress-xmlrpc
google-api-python-client
google_auth_oauthlib
huggingface_hub
cloudinary
redis
python-dotenv
#pandas
motor
httpx
python-multipart
starlette
Pillow